
.vs/Gun N Hook/FileContentIndex/c7ba0aa6-732e-4238-b8d7-13571cc1b531.vsidx
.vs/Gun N Hook/v17/.suo
.vs/Gun N Hook/v17/Browse.VC.db
.vs/Gun N Hook/v17/DocumentLayout.backup.json
.vs/Gun N Hook/v17/DocumentLayout.json
.vs/Gun N Hook/v17/ipch/AutoPCH/b78b52504b210d69/MAIN.ipch
.vs/Gun N Hook/v17/Solution.VC.db
